.sidebar {
  width: 105px;
  height: 100vh;
  background-color: #161616;
  padding: none;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: "105px";
}
