.chores-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  padding-top: 20px;
}

.chore-card {
  background-color: #161616;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 60%;
}

.chore-card:hover {
  transform: translateY(-5px);
}

.chore-card h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 0.25rem;
}

/* Description styling */
.chore-card p {
  font-size: 1rem;
  color: #a2a2a2;
  margin-top: 15px;
}

/* For Assignee and Due Date sections */
.chore-card p:last-child {
  font-size: 0.9rem;
  color: #a2a2a2;
}

/* Button styles */
.chore-card button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s, transform 0.3s ease;
  margin-right: 10px;
  margin-top: 10px;
}

/* Button hover effect */
.chore-card button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); /* Lift button on hover */
}

/* Button focus effect for accessibility */
.chore-card button:focus {
  outline: 2px solid #0056b3;
  outline-offset: 4px;
}
